body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  background-color: #ffffff;
  color: #2c2c2c;
  line-height: 1.6;
}

a {
  color: #dc143c;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 30px;
  background-color: white;
  font-family: "Cormorant Garamond", serif;
  border-radius: 10px;
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background-color: #dc143c;
  color: white;
  border: none;
  width: 150px;
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #fff;
  font-family: "Cormorant Garamond", serif;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #dc143c;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.poem strong {
  color: #dc143c; /* Polish red */
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
